.home .banner,
.home .site-header {
    background: #F4F4F4;
    color: #000
}

.home .banner .collection-head {
    color: #000;
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.home .site-header {
    border-bottom: none
}

.home .site-header h1 a {
    color: #000
}

.home .site-header .site-header-nav-item {
    color: #1a1a1a
}

.home .site-header .site-header-nav-item:hover {
    color: #777
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
/*分页*/
.pagination {font-size: 14px;text-align: left; margin-top: 18px; padding: 0;}
.pagination .page-numbers{color:#111;display: inline-block;text-align: center;width: 24px;line-height:24px;margin:5px;background: #E4E5E1;}
.pagination .page-numbers.current{ background: #4183C4;color:#fff;}	
.pagination .page-numbers.dots{border-color:rgba(0,0,0,0)}